<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">

    <div class="books" *ngIf="booksList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Title</th>
            <th class="h">Author</th>
            <th class="h">Rating</th>
            <th class="h">Date</th>
            <th class="h">Status</th>
            <th class="h">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr class="book" (dblclick)="editBook(book)" *ngFor="let book of booksList">

            <ng-container *ngIf="!editBooks.includes(book); else editB">
              <td>{{book.title}}</td>
              <td>{{book.author}}</td>
              <td>{{book.rating}}</td>
              <td>{{book.date | date}}</td>
              <td>{{book.status}}</td>
            </ng-container>

            <ng-template #editB>
                <td><input type="text" name="title" id="title" (keypress)="submitBook($event, book)" [(ngModel)]="book.title" placeholder="Title" class="form-control"></td>
                <td><input type="text" name="author" id="author" (keypress)="submitBook($event, book)" [(ngModel)]="book.author" placeholder="Author" class="form-control"></td>
                <td><input type="text" name="rating" id="rating" (keypress)="submitBook($event, book)" [(ngModel)]="book.rating" placeholder="Summary" class="form-control"></td>
                <td>{{book.date | date}}</td>
                <td>
                  <input type="text" name="status" id="status" (keypress)="submitBook($event, book)" [(ngModel)]="book.status" placeholder="Status" class="form-control">
                </td>
            </ng-template>

            <td class="o">
              <button class="btn btn-success" (click)="doneBook(book)">
                <i  class="fa fa-check"></i>
              </button>
              <button class="btn btn-primary" (click)="editBook(book)">
                  <i  class="fa fa-pencil"></i>
                </button>
              <button class="btn btn-danger" (click)="deleteBook(book)">
                  <i  class="fa fa-trash"></i>
                </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>


    <form>
      <div class="form-row">

        <div class="col-md-3">
          <input type="text" name="title" id="title" [(ngModel)]="newBook.title" placeholder="Title" class="form-control">
        </div>
        <div class="col-md-3">
          <input type="text" name="author" id="author" [(ngModel)]="newBook.author" placeholder="Author" class="form-control">
        </div>
        <div class="col-md-1">
          <input name="rating" id="rating" [(ngModel)]="newBook.rating" placeholder="Rating" class="form-control"
            id="rating">
        </div>
        <div class="col-md-3">
          <input name="status" id="status" [(ngModel)]="newBook.status" placeholder="Status" class="form-control"
            id="status">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
        </div>
      </div>
    </form>
  </div>
<!--   <div class="col-md-2"></div> -->
</div>